.container{
    max-width: fit-content;
    margin: auto;
    overflow: auto;
}

.gallery{
    
    float: left;
    width: 50%;
    height: 160px;
    padding-top: 10px;
  
}

.gallery img{
    width: 100px;
    height: auto;
    clip-path: circle();
    
}

.desc{
    padding: 10px;
    text-align: center;
}

.card {
    background-image: url("sample.jpg");
    background-size: cover;
    text-align: center;

}

.style {
    color: rgb(173, 0, 179);
    font-size: 25px;
    font-family: "Lobster";
    text-shadow: +2px -1px rgb(2, 6, 15);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;

}
.pfont{
    font-size: 16px;
    color: rgb(2, 1, 0);
    
    font-weight: bold;

}


h1{
    font-size: 35px;
    color: aliceblue;
    text-decoration: underline;
    text-shadow: +2px -1px black;
    margin-bottom: 25px; 
}

button{
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}
